.BoardBlock {
    background-color: var(--main-light);
    height: 100px;
    width: 100px;
}

.PlayerValue {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}